@font-face {
	font-family: theFont;
	src: url('assets/OptimusPrinceps.ttf');
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #000;
	font-family: 'Playfair Display', serif;
	color: #fff;
}

.title {
	font-family: theFont;
	color: #cce5e1;
	text-align: left;
	text-shadow: 1.3px 1.3px 2px #020005, -1.3px -1.3px 20px #020005;
	line-height: 0.71;
}

.container {
	background: url('assets/zilean-1920.jpg');
	background-repeat: no-repeat;
	background-position: 70% 0;
	border-radius: 20px;
	margin: 2em auto;
	padding: 2em;
	height: 600px;
	max-width: 1000px;
	min-width: 600px;
}

main {
	text-align: center;
}

.timer {
	font-family: 'Barlow', sans-serif;
	padding-left: 3.5em;
	position: relative;
}

.min-timer {
	min-height: 38px;
}

.min-timer {
	
}

.sec-timer {
	
}

#min {
	font-size: 2em;
	display: block;
	margin-top: -75px;
	opacity: 0;
	transition-duration: 1s;
}

#min.on {
	margin-top: -28px;
	opacity: 1;
}

#sec {
	font-size: 13em;
}

#controls {
	padding-left: 1em;
	margin-top: 47px;
	transition-duration: 1s;
}

#controls.on {
	margin-top: 0;
}

#startBtn {
	background-image: url('assets/start-icon-62.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	height: 45px;
	width: 45px;
	border-radius: 90% 50%;
	opacity: 1;
}

.active {
	box-shadow: 2px 2px 8px rgba(57,200,210,0.9), -2px -2px 8px rgba(57,200,210,0.9);
}

#resetBtn {
	background-image: url('assets/reset-icon.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	height: 45px;
	width: 45px;
	border-radius: 50%;
	position: relative;
	right: -5%;
}

footer {
	color: rgba(255, 255, 255, 0.8);
	font-size: 24px;
	text-shadow: 0.5px 0.5px 1px black, -0.5px -0.5px 1px black;
	width: fit-content;
	position: relative;
	bottom: -40%;
	left: 95%;
}